body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
  }